@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    background-color: #F6F8FA;
}


/**** portfolio ***/
.bg {
    margin-top: 10%;
    background-color: #F6F8FA;
}
section .pofolio-me .portfolio-inner{
    width: 30%;
    margin-right: 5%;
    background-color: #fff;
    float: left;
    padding: 1rem 1rem 1.5rem 1rem;
    box-shadow: 3px 3px 5px #555;
    margin-bottom: 3rem;
}

section .pofolio-me .portfolio-inner:nth-child(3n){
    margin-right: 0;
}

section .pofolio-me .portfolio-inner img{
    width: 100%;
    display: block;
}
section .pofolio-me .portfolio-inner strong{
    color: #fa6a6a;
    margin: 0.5rem 0;
    display: block;
} 

section .pofolio-me .portfolio-inner h3{
    font-size: 1.75rem;
}
/********/

